/** Some apps use titlebar class and some window */
.titlebar,
window {
	border-radius: 0;
	box-shadow: none;
}

/** also remove shaddows */
decoration {
	box-shadow: none;
}

decoration:backdrop {
	box-shadow: none;
}

@define-color borders_breeze @colours_snd;
@define-color insensitive_borders_breeze @colours_bg_sub;
@define-color content_view_bg_breeze @colours_bg;
@define-color error_color_backdrop_breeze @colours_magenta;
@define-color error_color_insensitive_backdrop_breeze @colours_red;
@define-color error_color_breeze @colours_magenta;
@define-color error_color_insensitive_breeze @colours_red;
@define-color link_color_breeze @colours_blue;
@define-color link_visited_color_breeze @colours_magenta_sub;
@define-color success_color_backdrop_breeze @colours_cyan;
@define-color success_color_insensitive_backdrop_breeze @colours_cyan;
@define-color success_color_breeze @colours_cyan;
@define-color success_color_insensitive_breeze @colours_cyan;
@define-color theme_base_color_breeze @colours_bg;
@define-color insensitive_base_color_breeze @colours_bg;
@define-color theme_bg_color_breeze @colours_bg_sub;
@define-color insensitive_bg_color_breeze @colours_bg_sub;
@define-color theme_button_background_backdrop_breeze @colours_bg;
@define-color theme_button_background_backdrop_insensitive_breeze @colours_bg;
@define-color theme_button_background_normal_breeze @colours_bg;
@define-color theme_button_background_insensitive_breeze @colours_bg;
@define-color theme_button_decoration_focus_backdrop_breeze @colours_fg_sub;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze @colours_snd;
@define-color theme_button_decoration_focus_breeze @colours_fg_sub;
@define-color theme_button_decoration_focus_insensitive_breeze @colours_snd;
@define-color theme_button_decoration_hover_backdrop_breeze @colours_fg;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze @colours_snd;
@define-color theme_button_decoration_hover_breeze @colours_fg;
@define-color theme_button_decoration_hover_insensitive_breeze @colours_snd;
@define-color theme_button_foreground_active_backdrop_breeze @colours_fg_sub;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze @colours_snd;
@define-color theme_button_foreground_active_breeze @colours_bg_sub;
@define-color theme_button_foreground_active_insensitive_breeze @colours_snd;
@define-color theme_button_foreground_backdrop_breeze @colours_fg_sub;
@define-color theme_button_foreground_backdrop_insensitive_breeze @colours_snd;
@define-color theme_button_foreground_normal_breeze @colours_fg_sub;
@define-color theme_button_foreground_insensitive_breeze @colours_snd;
@define-color theme_fg_color_breeze @colours_fg_sub;
@define-color insensitive_fg_color_breeze @colours_snd;
@define-color insensitive_base_fg_color_breeze @colours_snd;
@define-color theme_header_background_backdrop_breeze @colours_bg_sub;
@define-color theme_header_background_breeze @colours_bg_sub;
@define-color theme_header_background_light_breeze @colours_bg_sub;
@define-color theme_header_foreground_backdrop_breeze @colours_fg_sub;
@define-color theme_header_foreground_insensitive_backdrop_breeze @colours_fg_sub;
@define-color theme_header_foreground_breeze @colours_fg_sub;
@define-color theme_header_foreground_insensitive_breeze @colours_fg_sub;
@define-color theme_hovering_selected_bg_color_breeze @colours_snd;
@define-color theme_selected_bg_color_breeze @colours_snd;
@define-color insensitive_selected_bg_color_breeze @colours_bg_sub;
@define-color theme_selected_fg_color_breeze @colours_bg_sub;
@define-color insensitive_selected_fg_color_breeze @colours_snd;
@define-color theme_text_color_breeze @colours_fg_sub;
@define-color theme_titlebar_background_backdrop_breeze @colours_bg;
@define-color theme_titlebar_background_breeze @colours_bg_sub;
@define-color theme_titlebar_background_light_breeze @colours_bg_sub;
@define-color theme_titlebar_foreground_backdrop_breeze @colours_snd;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze @colours_snd;
@define-color theme_titlebar_foreground_breeze @colours_fg_sub;
@define-color theme_titlebar_foreground_insensitive_breeze @colours_snd;
@define-color theme_unfocused_base_color_breeze @colours_bg;
@define-color theme_unfocused_bg_color_breeze @colours_bg_sub;
@define-color insensitive_unfocused_bg_color_breeze @colours_bg_sub;
@define-color theme_unfocused_fg_color_breeze @colours_fg_sub;
@define-color insensitive_unfocused_fg_color_breeze @colours_snd;
@define-color theme_unfocused_selected_bg_color_alt_breeze @colours_snd;
@define-color theme_unfocused_selected_bg_color_breeze @colours_snd;
@define-color insensitive_unfocused_selected_bg_color_breeze @colours_bg_sub;
@define-color theme_unfocused_selected_fg_color_breeze @colours_fg_sub;
@define-color insensitive_unfocused_selected_fg_color_breeze @colours_snd;
@define-color theme_unfocused_text_color_breeze @colours_fg_sub;
@define-color theme_unfocused_view_bg_color_breeze @colours_bg;
@define-color theme_unfocused_view_text_color_breeze @colours_fg;
@define-color theme_view_active_decoration_color_breeze @colours_fg_sub;
@define-color theme_view_hover_decoration_color_breeze @colours_fg;
@define-color tooltip_background_breeze @colours_bg;
@define-color tooltip_border_breeze @colours_bg;
@define-color tooltip_text_breeze @colours_fg_sub;
@define-color unfocused_borders_breeze @colours_snd;
@define-color unfocused_insensitive_borders_breeze @colours_bg_sub;
@define-color warning_color_backdrop_breeze @colours_snd;
@define-color warning_color_insensitive_backdrop_breeze @colours_bg_sub;
@define-color warning_color_breeze @colours_snd;
@define-color warning_color_insensitive_breeze @colours_bg_sub;
